* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #fcc836;
    color: #f7f7f5;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    width: 100%;
}

.container__content {
    display: flex;
    gap: 2rem;
    background-color: #ff3d81;
    padding: 2rem;
    width: 60dvw;
    border-radius: 24px;
    transition: all .3s ease-in-out;
}

.container__content__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 50%;
    transition: all .3s ease-in-out;
}

.container__content img {
    width: 50%;
    height: auto;
    object-fit: contain;
    transition: all .3s ease-in-out;
}

.content__title {
    font-size: 2.5rem;
    transition: all .3s ease-in-out;
}

.container__inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1rem;
}

.container__input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-paragraph {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input {
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    color: #4c3ce3;
    background-color: #f8f8f8;
    border-right: 5px solid #4c3ce3;
    border-bottom: 5px solid #4c3ce3;
    font-size: 1.5rem;
    font-weight: 600;
    width: 90%;
    transition: all .3s ease-in-out;
}

.container__buttons {
    display: flex;
    gap: 2rem;
    width: 90%;
}

.container__buttons button {
    cursor: pointer;
    color: #f8f8f8;
    background-color: #4c3ce3;
    border-right: 5px solid #f8f8f8;
    border-bottom: 5px solid #f8f8f8;
    transition: all .3s ease-in-out;
}

.container__buttons button:hover {
    color: #333333;
    background-color: #fcc836;
    border-right: 5px solid #333333;
    border-bottom: 5px solid #333333;
}

@media screen and (max-width: 1234px) {
    body {
        font-size: 1.25rem;
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100dvh;
        min-width: 100dvw;
        width: 300px;
    }
    
    .container__content {
       display: flex;
        gap: 0;
        padding: 1rem;
        width: 90%;
        border-radius: 16px;
    }
    
    .container__content__info {
        gap: 1.5rem;
        width: 100%;
    }
    
    .container__content img {
        display: none;
    }
    
    .content__title {
        font-size: 1.5rem;
    }
    
    .container__inputs {
        gap: 1.5rem;
    }
    
    .input {
        padding: 1rem;
        border-radius: 0.75rem;
        font-size: 1.25rem;
        width: 100%;
    }
    
    .container__buttons {
        flex-direction: column;
        gap: 0.75rem;
        width: 100%;
    }
}